<div class="post card">
  <div class="card-header">
    <h2>Create New Patient</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="patient-name">Patient Name</label>
    <input type="text" name="patient-name" class="form-input" />

    <label class="form-label" for="patient-dob">Patient Date of Birth</label>
    <input type="text" name="patient-dob" class="form-input" />

    <label class="form-label" for="patient-sex">Patient Sex</label>
    <input type="text" name="patient-sex" class="form-input" />

    <label class="form-label" for="patient-gender">Patient Gender</label>
    <input type="text" name="patient-gender" class="form-input" />

    <label class="form-label" for="patient-height">Patient Height</label>
    <input type="text" name="patient-height" class="form-input" />

    <label class="form-label" for="patient-weight">Patient Weight</label>
    <input type="text" name="patient-weight" class="form-input" />

    <label class="form-label" for="patient-treatment-plan">Patient Treatment Plan</label>
    <textarea name="patient-treatment-plan" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>