<div class="d-flex justify-content-center">

<div class="card">
<div class="card-body">
<div class="firstQuestion">
    <h1 class ="h1signup"> Lets get started!</h1>
    <br>
    <h5 class ="h1signup">Are you a new Patient or Doctor?</h5>
    <br>
    <form id="newuser">
  <div class="row">
  <div class="d-flex justify-content-center">
    <button type="button" class="patientBtn">Patient</button>
    <button type="button" class="doctorBtn">Doctor</button>
</div>
</div>
</div>

<div class = "patientQuestions">

  <div class="row">
      <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
  <div class="col">
      <input type="text" class="form-control" id="inputFirstName">
  </div>
  </div>

  <div class="row">
      <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
  <div class="col">
      <input type="text" class="form-control" id="inputLastName">
  </div>
  </div>

  <div class="row">
  <label for="formFile" class="col-sm-2 col-form-label">Upload a photo of your ID</label>
  <div class="col">
  <input class="form-control" type="file" id="idUpload">
</div>
</div>

  <div class="row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
  <div class="col">
      <input type="email" class="form-control" id="inputEmail3">
  </div>
  </div>
    <div class="row">
      <label for="inputPhoneNum" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col">
      <input type="tel" class="form-control" id="inputPhoneNum">
  </div>
  </div>
 

  <div class="row">
      <label for="inputPrimaryCare" class="col-sm-2 col-form-label">Primary Care</label>
  <div class="col">
      <input type="text" class="form-control" id="inputPrimaryCare">
  </div>
  </div>

  <div class="row">
      <label for="inputHeight" class="col-sm-2 col-form-label">Height</label>
  <div class="col">
      <input type="text" class="form-control" id="inputHeight">
  </div>
  </div>

  <div class="row">
      <label for="inputWeight" class="col-sm-2 col-form-label">Weight</label>
  <div class="col">
      <input type="text" class="form-control" id="inputWeight">
  </div>
  </div>

 <div class="row">
      <label for="inputAllergies" class="col-sm-2 col-form-label">Please list all known allergies.</label>
  <div class="col">
  <input type='text' class="form-control" id="inputAllergies">
  
<input type='button' value='add to list' id='add'>

<ul id='list'>
  <li> <b>Known Allergies:</b></li> 
</ul>
</div>
</div>


  <div class="row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
  <div class="col">
      <input type="password" class="form-control" id="inputPassword3">
  </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-dark">Create PatientAccount!</button>
  </div>
  </div>
  </div>



<div class = "doctorQuestions">
  <h1 class ="h1signup"> Welcome doc! </h1>

  <div class="row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
  <div class="col">
      <input type="text" class="form-control" id="inputName">
  </div>
  </div>

  <div class="row">
  <label for="formFile" class="col-sm-2 col-form-label">Upload a photo of your ID</label>
  <div class="col">
  <input class="form-control" type="file" id="formFile">
</div>
</div>

  <div class="row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
  <div class="col">
      <input type="email" class="form-control" id="inputEmail3">
  </div>
  </div>
    <div class="row">
      <label for="inputPhoneNum" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col">
      <input type="tel" class="form-control" id="inputPhoneNum">
  </div>
  </div>

 <div class="row">
      <label for="docSpecs" class="col-sm-2 col-form-label">Please list all of your specialties!</label>
  <div class="col">
  <input type='text' class="form-control" id="docSpecs">
  
<input type='button' value='add to list' id='addon'>

<ul id='list2'>
  <li> <b>Specialties</b></li> 
</ul>
</div>
</div>



  <div class="row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
  <div class="col">
      <input type="password" class="form-control" id="inputPassword3">
  </div>
  </div>




    <div class="row">
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-dark">Create PatientAccount!</button>
  </form>
  </div>
  </div>
  </div>
  </div>



<script src="./js/createAccount.js"></script>