<div class="card">
  <div class="card-header">
    <h2>Doctor Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="doctor-first-name" class="form-label">First Name</label>
        <input type="text" id="doctor-first-name" />
      </div>
      <div>
        <label for="doctor-last-name" class="form-label">Last Name</label>
        <input type="text" id="doctor-last-name" />
      </div>
      <div>
        <label for="username-input-signup" class="form-label">Username</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div>
        <label for="password-input-signup" class="form-label">Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn">Signup!</button>
      <a href="/login" class="sign-up">Have an account? Login</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>