{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<div>
    <h2>**Under Construction**</h2>

    <label class="form-label" for="patient-symptom-id">Patient Symptom ID</label>
    <input type="text" name="patient-symptom-id" class="form-input" />

    <label class="form-label" for="patient-birth-year">Patient Birth Year</label>
    <input type="text" name="patient-birth-year" class="form-input" />

    <label class="form-label" for="patient-symptom-sex">Patient Sex</label>
    <div id="patient-symptom-sex">
        <input type="radio" class="form-input" id="patient-sex-male" value="Male"/>
        <label for="patient-sex-male">Male</label>

        <input type="radio" class="form-input" id="patient-sex-female" value="Female"/>
        <label for="patient-sex-female">Female</label>
    </div>
    
    <button type="submit" class="btn" id="get-diagnosis-btn">Get Diagnosis</button>
</div>
<script src="./js/symptoms.js"></script>
{{!-- </html> --}}